/* Universal Styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: underline;
  color: seashell;
}
footer {
  text-align: left;
}

/* Header */

#header {
  position: relative;
  top: 0;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header img {
  height: 50px;
  margin-left: 10px;
  padding: 9.5 0;
}
#header a {
  padding: 13.5px 10px;
  margin-right: 10px;
}

/* Our Mission Section */
#ourMission {
  position: relative;
  top: 69px;
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  background-image: url("../../resources/images/img-mission-background.jpg");
}
#ourMission .textBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  padding: 10px;
}
#ourMission h2 {
  margin-bottom: 20px;
}

/* Tea of the Month */

#teaOfTheMonth, .imageBoxes {
  width: 1000px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#teaOfTheMonth .textBox, #teaOfTheMonth .imageBox {
  display: flex;
  flex-direction: column;
  align-content: center;
}
#teaOfTheMonth h2, #teaOfTheMonth h4 {
  margin-bottom: 20px;
}
#teaOfTheMonth img {
  width: 300px;
  height: 200px;
  margin: 10px 15px;
}

/* Locations */

#locations {
  width: 1200px;
  height: 500px;
  background-image: url();
}

/* Contact */

#contact {
  height: 200px;
}
